Update to dwca-io:1.31 and Java 8

RFC4180 Section 2 CSV files are supported by the GBIF dwca-io library from version 1.31. https://github.com/gbif/dwca-io/issues/26 This update however requires biocache-store update to supporting Java-8. 

Not having much experience with Scala, I am not sure yet whether Scala-2.10 will be compatible with Java-8. Upgrading Scala if necessary to a maintained version (2.12 for example) is tracked in https://github.com/AtlasOfLivingAustralia/biocache-store/issues/181

Thanks for updating this. Unfortunately the changes that GBIF put in place so far do not fix the ANWC error so I will go through another round of work with GBIF and verify it before updating here again.