Allow overriding of escape character

The TSV exporter in BulkProcessor allows overriding of the separator, but does not allow overriding of either the quote or escape characters, which are necessary along with the separator to convert the TSV exporter to being an RFC4180 Section 2 CSV file. In particular, the slash \ needs to be changed to the double-quote " to fit with RFC4180, so it needs to be allowed for in the program arguments.

Also relevant to this is: https://github.com/gbif/dwca-io/issues/26